* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #081C39;
  background-image: "/images/fondo-rayas.svg";
}

.modal-to-pay {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  z-index: 2;
}

.modal-to-pay .content-modal {
  max-width: 520px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 991px) {
  .modal-to-pay .content-modal {
    width: 90%;
    margin: 0 auto;
  }
}

.modal-to-pay .content-modal .close-modal-to-pay {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #707070;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.modal-to-pay .content-modal .title-modal {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #707070;
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .modal-to-pay .content-modal .title-modal {
    font-size: 1rem;
  }
}

.modal-to-pay .content-modal .form-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-to-pay .content-modal .form-pay .input-style {
  margin: 0.5rem 0;
  padding: .8rem;
  border-radius: 5px;
  font-family: 'Roboto';
  color: #707070;
  border: 1px solid #081C39;
}

@media (max-width: 991px) {
  .modal-to-pay .content-modal .form-pay .input-style {
    padding: .5rem;
  }
}

.modal-to-pay .content-modal .form-pay .input-style::-webkit-input-placeholder {
  color: #707070;
}

.modal-to-pay .content-modal .form-pay .input-style:-ms-input-placeholder {
  color: #707070;
}

.modal-to-pay .content-modal .form-pay .input-style::-ms-input-placeholder {
  color: #707070;
}

.modal-to-pay .content-modal .form-pay .input-style::placeholder {
  color: #707070;
}

.modal-to-pay .content-modal .form-pay .input-style:focus-visible {
  border: 1px solid #0092B8;
}

.modal-to-pay .content-modal .form-pay .send-form {
  background-color: #0092B8;
  color: #fff;
  max-width: 220px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  border: 0;
  font-size: 24px;
  padding: 1rem 4rem;
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 991px) {
  .modal-to-pay .content-modal .form-pay .send-form {
    padding: .5rem 2rem;
  }
}

#contenedor-principal {
  max-width: 1366px;
  margin: 0 auto;
}

header {
  position: relative;
  background: #081C39;
}

@media (max-width: 991px) {
  header {
    min-height: 5rem;
    border-bottom: 1px solid #707070;
    -webkit-box-shadow: 1px 1px 1px #707070;
            box-shadow: 1px 1px 1px #707070;
  }
}

header .container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
}

header .container-header .logo-team {
  width: 200px;
}

@media (max-width: 991px) {
  header .container-header .logo-team {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

header .container-header .container-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  header .container-header .container-menu ul {
    display: none;
  }
}

header .container-header .container-menu ul li {
  font-family: 'Roboto', sans-serif;
  margin: 0 1rem;
  list-style: none;
}

header .container-header .container-menu ul li a {
  color: #fff;
  text-decoration: none;
}

header .container-header .container-menu .image-mobile {
  display: none;
}

@media (max-width: 991px) {
  header .container-header .container-menu .image-mobile {
    color: #fff;
    display: block;
    right: 25px;
    top: 25px;
    position: absolute;
    max-height: 50px;
    font-size: 2rem;
  }
}

header .menu-mobile {
  display: none;
}

@media (max-width: 991px) {
  header .menu-mobile {
    position: fixed;
    top: 0;
    min-height: 100%;
    background-color: #081C39;
    width: 100%;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu-mobile .close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  header .menu-mobile ul li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  header .menu-mobile ul li.active {
    background-color: #0092B8;
  }
  header .menu-mobile ul li.active a {
    color: #fff;
  }
  header .menu-mobile ul li:hover {
    background-color: #0092B8;
  }
  header .menu-mobile ul li:hover a {
    color: #fff;
  }
  header .menu-mobile ul li a {
    color: #fff;
    text-decoration: none;
  }
}

.container-all-site {
  background: #081C39;
  padding: 2rem;
  min-height: calc(100vh - 7rem);
}

.container-all-site .bread-crumbs {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 1rem;
  background: #081C39 0% 0% no-repeat padding-box;
}

.container-all-site .bread-crumbs .breadcrumb-item {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
}

.container-all-site .bread-crumbs .icon-home {
  color: #fff;
}

.container-all-site .bread-crumbs .slash {
  color: #fff;
}

.container-all-site .bread-crumbs .breadcrumb-item.active {
  color: #0092B8;
}

.container-all-site .container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-all-site .container .container-comeback .comeback {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #0092B8;
}

.container-all-site .container .title-simulator {
  font-size: 60px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .container-all-site .container .title-simulator {
    font-size: 30px;
  }
}

.container-all-site .container .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-all-site .container .container-form .container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-all-site .container .container-form .container-cards .card {
  text-align: center;
  background-color: #0093b860;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 180px;
      grid-template-rows: 180px;
  grid-gap: 1rem;
  cursor: pointer;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-cards .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 1rem 0;
  }
}

.container-all-site .container .container-form .container-cards .card:nth-child(2) {
  margin-left: 2rem;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-cards .card:nth-child(2) {
    margin: 1rem 0;
  }
}

.container-all-site .container .container-form .container-cards .card:nth-child(3) {
  margin: 0 2rem;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-cards .card:nth-child(3) {
    margin: 1rem 0;
  }
}

.container-all-site .container .container-form .container-cards .card .input-style {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.container-all-site .container .container-form .container-cards .card .input-style:checked + label {
  color: #fff;
}

.container-all-site .container .container-form .container-cards .card .input-style:checked + label:before {
  background-color: #0092B8;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "\f560";
}

.container-all-site .container .container-form .container-cards .card .label-card {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-cards .card .label-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container-all-site .container .container-form .container-cards .card .label-card .image-card {
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-cards .card .label-card .image-card {
    margin-bottom: 0rem;
    margin-right: 2rem;
    max-width: 50px;
  }
}

.container-all-site .container .container-form .container-cards .card .label-card::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-cards .card .label-card::before {
    top: 30px;
    right: 20px;
  }
}

.container-all-site .container .container-form .type-of-site {
  margin: 1rem 0;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0.4rem 1rem;
  color: #fff;
  min-width: 300px;
  font-family: 'Roboto', sans-serif;
}

.container-all-site .container .container-form .type-of-site option {
  color: #000;
}

.container-all-site .container .container-form .number-pages {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container-all-site .container .container-form .input-range {
  margin: 1rem 0;
  display: block;
  color: #fff;
}

.container-all-site .container .container-form .container-steps-analitycs {
  margin-top: 1rem;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-steps-analitycs {
    margin-bottom: 1rem;
  }
}

.container-all-site .container .container-form .container-steps-analitycs .option-analitycs {
  color: #fff;
  font-family: 'Roboto';
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-steps-analitycs .option-analitycs {
    font-size: 1rem;
  }
}

.container-all-site .container .container-form .container-steps-analitycs .option-analitycs .tooltip {
  position: relative;
}

.container-all-site .container .container-form .container-steps-analitycs .option-analitycs .tooltip .question {
  color: #0092B8;
  position: absolute;
  right: -20px;
  top: 2px;
}

.container-all-site .container .container-form .container-steps-analitycs .option-analitycs .tooltip .question .text-tooltip {
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.container-all-site .container .container-form .container-steps-analitycs .option-analitycs .tooltip .question:hover .text-tooltip {
  display: inline;
  visibility: visible;
  opacity: 1;
  position: absolute;
  white-space: nowrap;
}

.container-all-site .container .container-form .container-steps-analitycs .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-steps-analitycs .switch {
    margin-bottom: 1rem;
  }
}

.container-all-site .container .container-form .container-steps-analitycs .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.container-all-site .container .container-form .container-steps-analitycs .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.container-all-site .container .container-form .container-steps-analitycs .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.container-all-site .container .container-form .container-steps-analitycs input:checked + .slider {
  background-color: #2196F3;
}

.container-all-site .container .container-form .container-steps-analitycs input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.container-all-site .container .container-form .container-steps-analitycs input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.container-all-site .container .container-form .container-steps-analitycs .slider.round {
  border-radius: 34px;
}

.container-all-site .container .container-form .container-steps-analitycs .slider.round:before {
  border-radius: 50%;
}

.container-all-site .container .container-form .container-steps-seo {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-steps-seo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-all-site .container .container-form .container-steps-seo .step {
  width: calc(100% - 10px);
  margin-left: 0;
  padding-right: 20px;
  position: relative;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-steps-seo .step {
    margin-top: 10px;
  }
}

.container-all-site .container .container-form .container-steps-seo .step::before {
  content: '>';
  top: 50%;
  right: 10px;
  position: absolute;
  color: #FFC400;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-steps-seo .step::before {
    content: none;
  }
}

.container-all-site .container .container-form .container-steps-seo .step .title-step {
  color: #FFC400;
  font-family: 'Roboto';
  font-size: 1.2rem;
  font-weight: bolder;
}

.container-all-site .container .container-form .container-steps-seo .step .paragraph-step {
  color: #fff;
  font-size: 0.8rem;
  font-family: 'Roboto';
}

.container-all-site .container .container-form .container-steps-seo .step:last-child::before {
  content: '';
}

.container-all-site .container .container-form .container-steps-seo .step:last-child .paragraph-step {
  color: #d4d4d4;
  font-size: 0.7rem;
}

.container-all-site .container .container-form .container-steps-seo .step .ticks {
  color: #fff;
}

.container-all-site .container .container-form .components {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-all-site .container .container-form .components .title-components {
  width: 100%;
  margin: 1rem 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container-all-site .container .container-form .components .label-components {
  color: #0092B8;
  padding: 0.4rem 1rem;
  border-radius: 30px;
  border: 1px solid #0092B8;
  margin: 0.5rem 1rem 0.5rem 0rem;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.container-all-site .container .container-form .components .label-components:nth-child(2) {
  margin-left: 0;
}

.container-all-site .container .container-form .components .input-components {
  display: none;
}

.container-all-site .container .container-form .components .input-components:checked + label {
  background: #fff;
  font-weight: bold;
}

.container-all-site .container .container-form form {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.container-all-site .container .container-form .container-cost {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 3rem;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-cost {
    margin: 0%;
  }
}

.container-all-site .container .container-form .container-cost .contrainer-information {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background: #fff;
  max-width: 300px;
  margin: 2rem auto 0;
  border-radius: 10px;
  padding: 2rem;
}

@media (max-width: 991px) {
  .container-all-site .container .container-form .container-cost .contrainer-information {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
}

.container-all-site .container .container-form .container-cost .contrainer-information .title-cost {
  color: #081C39;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.container-all-site .container .container-form .container-cost .contrainer-information .list {
  margin: 1rem 0;
}

.container-all-site .container .container-form .container-cost .contrainer-information .list .type-options {
  list-style: none;
  color: #707070;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 0.3rem 0;
}

.container-all-site .container .container-form .container-cost .contrainer-information .text-option {
  color: #707070;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 0.4rem 0;
}

.container-all-site .container .container-form .container-cost .contrainer-information .price {
  color: #0092B8;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.container-all-site .container .container-form .container-cost .contrainer-information .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container-all-site .container .container-form .container-cost .contrainer-information .value .contain-option {
  margin-right: 1rem;
}

.container-all-site .container .container-form .container-cost .contrainer-information .value .contain-option .name {
  color: #707070;
  margin-bottom: 0.4rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.container-all-site .container .container-form .container-cost .contrainer-information .continer-submit {
  margin: 1rem 0 0;
  text-align: center;
}

.container-all-site .container .container-form .container-cost .contrainer-information .continer-submit .want {
  background-color: #0092B8;
  color: #fff;
  padding: 14px 38px;
  border: 0;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
}

.container-all-site .container .container-form .container-cost .title-observations {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  max-width: 340px;
  margin: 2rem auto 1rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.container-all-site .container .container-form .container-cost .paragraph-observations {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  max-width: 340px;
  margin: 0 auto;
  font-size: 14px;
}

.container-home {
  background-color: #081C39;
}

.container-home .banner-step1 {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container-home .banner-step1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 2rem 0;
  }
}

.container-home .banner-step1 .container-text {
  width: 50%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 991px) {
  .container-home .banner-step1 .container-text {
    width: 90%;
    text-align: center;
  }
}

.container-home .banner-step1 .container-text .title-home {
  font-size: 40px;
  color: #fff;
}

.container-home .banner-step1 .container-text .paragraph-home {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.container-home .banner-step1 .container-text .simulator {
  color: #fff;
  padding: 0.9rem 2rem;
  background: #0092B8;
  margin-top: 1rem;
  border-radius: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}

@media (max-width: 991px) {
  .container-home .banner-step1 .container-text .simulator {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
}

.container-home .banner-step1 .image-home {
  width: 50%;
}

@media (max-width: 991px) {
  .container-home .banner-step1 .image-home {
    width: 90%;
  }
}

.container-home .titulo1 {
  font-size: 3.7rem;
  display: block;
  font-weight: 500;
}

@media (max-width: 991px) {
  .container-home .titulo1 {
    font-size: 32px;
    font-weight: 100;
  }
}

.container-home .titulo2 {
  font-size: 4.7rem;
  font-weight: 100;
  display: block;
}

@media (max-width: 991px) {
  .container-home .titulo2 {
    font-size: 40px;
    font-weight: bold;
  }
}

.container-home .titulos {
  position: relative;
  text-align: center;
}

.container-home .titulos .sombra-tit {
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0093b83a;
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container-home .titulos .sombra-tit {
    top: -16px;
    font-size: 40px;
  }
}

.container-home .titulos .subtitle {
  position: relative;
  margin-bottom: 80px;
  margin-top: 80px;
}

@media (max-width: 991px) {
  .container-home .titulos .subtitle {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

.container-home .subtitle {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.5rem 0;
}

.container-home .container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

@media (max-width: 991px) {
  .container-home .container-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
}

.container-home .container-cards .card {
  text-align: center;
  background-color: #082341;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: minmax(280px, fit-content);
      grid-template-rows: minmax(280px, -webkit-fit-content);
      grid-template-rows: minmax(280px, fit-content);
  grid-gap: 1rem;
}

.container-home .container-cards .card:nth-child(2) {
  margin-left: 2rem;
}

@media (max-width: 991px) {
  .container-home .container-cards .card:nth-child(2) {
    margin: 1rem 0;
  }
}

.container-home .container-cards .card:nth-child(3) {
  margin: 0 2rem;
}

@media (max-width: 991px) {
  .container-home .container-cards .card:nth-child(3) {
    margin: 1rem 0;
  }
}

@media (max-width: 991px) {
  .container-home .container-cards .card {
    margin: 1rem 0;
    width: 100%;
    max-width: 350px;
  }
}

.container-home .container-cards .card .input-style {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.container-home .container-cards .card .input-style:checked + label {
  color: #fff;
}

.container-home .container-cards .card .input-style:checked + label:before {
  background-color: #0092B8;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "\f560";
}

.container-home .container-cards .card .label-card {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-home .container-cards .card .label-card .image-card {
  margin-bottom: 1rem;
}

.container-home .container-cards .card .label-card .title-information {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: left;
}

@media (max-width: 991px) {
  .container-home .container-cards .card .label-card .title-information {
    text-align: center;
  }
}

.container-home .container-cards .card .label-card .information {
  color: #748090;
  text-align: left;
}

@media (max-width: 991px) {
  .container-home .container-cards .card .label-card .information {
    text-align: center;
  }
}

.container-home .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container-home .container-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container-home .container-form .atencion-client {
  width: 100%;
  color: #748090;
}

.container-home .container-form .atencion-client .atencion {
  font-family: 'Roboto', sans-serif;
  color: #fff !important;
}

@media (max-width: 991px) {
  .container-home .container-form .atencion-client .atencion {
    padding-left: 1.5rem;
  }
}

@media (max-width: 991px) {
  .container-home .container-form .atencion-client ul {
    padding-left: 1.5rem;
  }
}

.container-home .container-form .atencion-client ul li.rs {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  margin: 0.5rem 0;
}

.container-home .container-form .atencion-client ul li.rs i {
  width: 20px;
  margin-right: 0.5rem;
  color: #036588;
  font-size: 1.5rem;
}

.container-home .container-form .atencion-client ul li.rs a {
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.container-home .container-form .form-contact {
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 991px) {
  .container-home .container-form .form-contact {
    width: 90%;
    margin: 0 auto;
  }
}

.container-home .container-form .form-contact form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-home .container-form .form-contact form .input-group {
  position: relative;
  margin-bottom: 17px;
}

.container-home .container-form .form-contact form .input-group label {
  color: #fff;
  position: absolute;
  top: 22px;
  left: 10px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
  margin-left: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container-home .container-form .form-contact form .input-group label.active {
  top: -8px;
  font-size: 12px;
  background-color: #081C39;
  padding: 0px 8px;
  color: #b9c1cc;
}

.container-home .container-form .form-contact form input, .container-home .container-form .form-contact form select, .container-home .container-form .form-contact form textarea, .container-home .container-form .form-contact form button {
  font-size: 20px;
  color: #fff;
  width: 100%;
  outline: none;
  margin-top: 1rem;
  padding: 16px 20px;
  background: none;
  border: 1.5px solid white;
  border-radius: 10px;
}

.container-home .container-form .form-contact form input:focus, .container-home .container-form .form-contact form input:active, .container-home .container-form .form-contact form select:focus, .container-home .container-form .form-contact form select:active, .container-home .container-form .form-contact form textarea:focus, .container-home .container-form .form-contact form textarea:active, .container-home .container-form .form-contact form button:focus, .container-home .container-form .form-contact form button:active {
  outline: none;
  border: 1.5px solid #0092B8;
}

.container-home .container-form .form-contact form input.error, .container-home .container-form .form-contact form select.error, .container-home .container-form .form-contact form textarea.error, .container-home .container-form .form-contact form button.error {
  border: 1.5px solid red;
}

.container-home .container-form .form-contact form input.error + label, .container-home .container-form .form-contact form select.error + label, .container-home .container-form .form-contact form textarea.error + label, .container-home .container-form .form-contact form button.error + label {
  color: red;
}

@media (max-width: 991px) {
  .container-home .container-form .form-contact form input, .container-home .container-form .form-contact form select, .container-home .container-form .form-contact form textarea, .container-home .container-form .form-contact form button {
    width: auto;
  }
}

.container-home .container-form .form-contact form input::-webkit-input-placeholder, .container-home .container-form .form-contact form select::-webkit-input-placeholder, .container-home .container-form .form-contact form textarea::-webkit-input-placeholder, .container-home .container-form .form-contact form button::-webkit-input-placeholder {
  color: #748090;
}

.container-home .container-form .form-contact form input:-ms-input-placeholder, .container-home .container-form .form-contact form select:-ms-input-placeholder, .container-home .container-form .form-contact form textarea:-ms-input-placeholder, .container-home .container-form .form-contact form button:-ms-input-placeholder {
  color: #748090;
}

.container-home .container-form .form-contact form input::-ms-input-placeholder, .container-home .container-form .form-contact form select::-ms-input-placeholder, .container-home .container-form .form-contact form textarea::-ms-input-placeholder, .container-home .container-form .form-contact form button::-ms-input-placeholder {
  color: #748090;
}

.container-home .container-form .form-contact form input::placeholder, .container-home .container-form .form-contact form select::placeholder, .container-home .container-form .form-contact form textarea::placeholder, .container-home .container-form .form-contact form button::placeholder {
  color: #748090;
}

.container-home .container-form .form-contact form input.send-form, .container-home .container-form .form-contact form select.send-form, .container-home .container-form .form-contact form textarea.send-form, .container-home .container-form .form-contact form button.send-form {
  background-color: #0092B8;
  color: #fff;
  padding: 20px 10px;
  border: 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 991px) {
  .container-home .container-form .form-contact form input.send-form, .container-home .container-form .form-contact form select.send-form, .container-home .container-form .form-contact form textarea.send-form, .container-home .container-form .form-contact form button.send-form {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem 4rem;
    margin-bottom: 2rem;
  }
}

.container-home .container-form .form-contact form input.send-form:hover, .container-home .container-form .form-contact form select.send-form:hover, .container-home .container-form .form-contact form textarea.send-form:hover, .container-home .container-form .form-contact form button.send-form:hover {
  background-color: #748090;
  color: #fff;
}

.container-home .container-form .form-contact form input.send-form[disabled], .container-home .container-form .form-contact form select.send-form[disabled], .container-home .container-form .form-contact form textarea.send-form[disabled], .container-home .container-form .form-contact form button.send-form[disabled] {
  background-color: #748090;
  color: #fff;
}

.container-home .container-form .form-contact form input option, .container-home .container-form .form-contact form select option, .container-home .container-form .form-contact form textarea option, .container-home .container-form .form-contact form button option {
  color: #000;
}

footer {
  background: #081C39;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 0;
}

@media (max-width: 991px) {
  footer {
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */